{# templates/lucky/message.html.twig #}
<html><body>
<h1>Ваш счастливое сообщение - {{ message }}</h1>
<table border="1">
<thead>
<tr><th>Столбец 1</th><th> Столбец 2</th></tr>
</thead>
<tbody>
<tr><td>Значение: {{ number }}</td><td>Значение: {{ number }}</td></tr>
<tr><td>Значение: {{ number }}</td><td>Значение: {{ number }}</td></tr>
</tbody>
</table>
</body></html>